* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: teal;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

h1 {
    font-size: 10vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: 0;
    text-align: center;
}

.line {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: -1vw;
    transform: translateY(-50%);
    height: 3vh;
    width: 0;
    border-radius: 100px 100px   100px 100px;
    animation: move 3s linear forwards;
    z-index: 2;
}

@keyframes move {
    to {
        width: 102vw;
    }
}

.overlay {
    z-index: 2;
}